body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
.visibility-hidden
{
   visibility: hidden;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_intro
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_intro
   {
      background-attachment: scroll !important;
   }
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: rgba(0,0,0,0.89);
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 8px 15px 8px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 75%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 800px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_intro
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/bg-header.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#intro
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#intro > .col-1, #intro > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#intro > .col-1, #intro > .col-2
{
   flex: 0 0 auto;
}
#intro > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#intro > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 75px 0 75px 0;
}
#intro > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#intro > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 75px 0 75px 0;
}
@media (max-width: 800px)
{
#intro > .col-1, #intro > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_about
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FF8C00;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#about
{
   box-sizing: border-box;
   padding: 80px 15px 80px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#about > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   float: left;
}
#about > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#about > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#about > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#about > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#about > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#about:before,
#about:after,
#about .row:before,
#about .row:after
{
   display: table;
   content: " ";
}
#about:after,
#about .row:after
{
   clear: both;
}
@media (max-width: 800px)
{
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   color: #FFFFFF;
   text-align: left;
   text-transform: none;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.show 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.headerMenu .caret, .headerMenu .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 15px;
   background-color: #000000;
   background-image: none;
   border: 1px solid rgba(255,0,0,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FF0000;
}
.headerMenu .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FFFFFF;
   text-transform: none;
   white-space: nowrap;
}
.headerMenu .dropdown-menu > li > a:hover,
.headerMenu .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #000000;
   background-image: none;
}
.headerMenu .dropdown-menu > li > a.active,
.headerMenu .dropdown-menu > li > a.active:hover,
.headerMenu .dropdown-menu > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #000000;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.headerMenu .show > .dropdown-menu
{
   display: block;
}
.headerMenu .show > a
{
   outline: 0;
}
.headerMenu .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .dropdown.show .dropdown-menu
{
   animation-name: headerMenu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes headerMenu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.headerMenu .nav > li 
{
   position: relative;
   display: block;
}
.headerMenu .nav > li > a
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.headerMenu .nav .show > a,
.headerMenu .nav .show > a:hover,
.headerMenu .nav .show > a:focus
{
    border-color: #343A40;
}
.headerMenu .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FF0000;
}
.headerMenu .nav .caret
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
}
.headerMenu:before,
.headerMenu:after
{
   content: " ";
   display: table;
}
.headerMenu:after
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after
{
   clear: both;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 15px 10px 14px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.headerMenu .navbar-nav
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.headerMenu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a:hover,
.headerMenu .navbar-nav > li > a:focus
{
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.headerMenu .navbar-nav > li > a.active,
.headerMenu .navbar-nav > li > a.active:hover,
.headerMenu .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #000000;
   background-image: none;
}
.headerMenu .navbar-toggle
{
   border: 1px solid transparent;
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(255,0,0,1.00);
}
.headerMenu .navbar-nav > .dropdown > a:hover .caret,
.headerMenu .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > .show > a,
.headerMenu .navbar-nav > .show > a:hover,
.headerMenu .navbar-nav > .show > a:focus
{
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav > .show > a .caret,
.headerMenu .navbar-nav > .show > a:hover .caret,
.headerMenu .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-link
{
   color: #FFFFFF;
}
.headerMenu .navbar-link:hover
{
   color: #FFFFFF;
}
.headerMenu .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 600px) 
{
.headerMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header
{
   float: left;
}
.headerMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav > li
{
   float: left;
}
.headerMenu .container > .navbar-header,
.headerMenu .container > .headerMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav > .dropdown > a:hover .caret,
.headerMenu .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 600px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,0,0,0.00);
}
.headerMenu .navbar-nav
{
   margin: 0;
   background-color: #000000;
   background-image: none;
}
.headerMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .show .dropdown-menu > li > a,
.headerMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.headerMenu .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 600px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,0,0,0.00);
   border-radius: 6px;
}
.headerMenu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a:hover,
.headerMenu .navbar-nav > li > a:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav > li > a.active,
.headerMenu .navbar-nav > li > a.active:hover,
.headerMenu .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav > .show > a,
.headerMenu .navbar-nav > .show > a:hover,
.headerMenu .navbar-nav > .show > a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav > .dropdown > a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a.active > .caret,
.headerMenu .navbar-nav > li > a.active:hover > .caret,
.headerMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > .show > a .caret,
.headerMenu .navbar-nav > .show > a:hover .caret,
.headerMenu .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-link
{
   color: #FFFFFF;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
.headerMenu .navbar-nav > li:first-child > a
{
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}
.headerMenu .dropdown-menu > li:last-child > a
{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
#headerMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_headerMenu
{
   z-index: 1111 !important;
}
#wb_introHeading
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 1px 0 0 0 ;
   padding: 0;
   text-align: left;
}
#introHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: left;
   text-transform: none;
   -webkit-text-stroke: 1px #FFFFFF;
   text-stroke: 1px #FFFFFF;
}
#wb_introText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 15px 0 0 0;
   margin: 0 0 20px 0 ;
   text-align: left;
}
#wb_introText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
}
#wb_introText p, #wb_introText ul
{
   margin: 0;
   padding: 0;
}
#wb_introText
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#introButton
{
   box-sizing: border-box;
   line-height: 28px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #FF4500;
   border-radius: 20px;
   background-color: #FF4500;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 1px 4px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#introButton:focus
{
   outline: 0;
}
#wb_introImage
{
   margin: 0;
   vertical-align: top;
}
#introImage
{
   border: 4px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_storesCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#storesCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#storesCard1-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   border: 0px solid #7A7A7A;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#wb_storesCard1:hover #storesCard1-card-item0
{
   transform: rotate(0deg) scale(0.8,0.8) ;
   transition: transform 300ms linear 0ms;
}
#storesCard1-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 300ms linear 0ms;
}
#storesCard1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#storesCard1-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#storesCard1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#storesCard1-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_storesCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#storesCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#storesCard2-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   border: 0px solid #7A7A7A;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#wb_storesCard2:hover #storesCard2-card-item0
{
   transform: rotate(0deg) scale(0.8,0.8) ;
   transition: transform 300ms linear 0ms;
}
#storesCard2-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 300ms linear 0ms;
}
#storesCard2-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#storesCard2-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#storesCard2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#storesCard2-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_storesCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#storesCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#storesCard3-card-item0
{
   display: inline-block;
   height: 43px;
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   border: 0px solid #7A7A7A;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 43px;
}
#wb_storesCard3:hover #storesCard3-card-item0
{
   transform: rotate(0deg) scale(0.8,0.8) ;
   transition: transform 300ms linear 0ms;
}
#storesCard3-card-item0
{
   transform: rotate(0deg) ;
   transition: transform 300ms linear 0ms;
}
#storesCard3-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#storesCard3-card-item0 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 43px;
   width: 43px;
}
#storesCard3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#storesCard3-card-item2
{
   box-sizing: border-box;
   margin: 10px 0 25px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 15px;
   line-height: 22.5px;
}
#wb_Image1
{
   margin: 0 20px 0 20px;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 85.19%;
   height: auto;
   max-width: 686px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(30,30,30,0.69);
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #C2C1C1;
   border-right-color: #C2C1C1;
   border-bottom-color: #C2C1C1;
   border-left-color: #C2C1C1;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 55px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 800px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 40px 0 0 0 ;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   display: block;
   margin: 40px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0 0 20px 0 ;
   text-align: center;
}
#wb_Text2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   line-height: 18px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(0,0,0,0.69);
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #C2C1C1;
   border-right-color: #C2C1C1;
   border-bottom-color: #C2C1C1;
   border-left-color: #C2C1C1;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 75px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#contact > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#contact > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 800px)
{
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_contactIcon2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon2
{
   height: 30px;
   width: 30px;
}
#contactIcon2 i
{
   color: #000000;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_contactIcon2:hover #contactIcon2 i
{
   color: #2C579B;
}
#wb_contactIcon3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon3
{
   height: 30px;
   width: 30px;
}
#contactIcon3 i
{
   color: #000000;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_contactIcon3:hover #contactIcon3 i
{
   color: #FF6347;
}
#wb_contactIcon4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   margin: 0 5px 0 0 ;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_contactIcon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_contactIcon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #645E59;
}
#contactIcon4
{
   height: 30px;
   width: 30px;
}
#contactIcon4 i
{
   color: #000000;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_contactIcon4:hover #contactIcon4 i
{
   color: #FF0000;
}
#wb_contactDescription 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 40px 0 0 0 ;
   text-align: center;
}
#wb_contactDescription
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   line-height: 16px;
}
#wb_contactDescription p, #wb_contactDescription ul
{
   margin: 0;
   padding: 0;
}
#wb_contactDescription
{
   display: block;
   margin: 40px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_contactMenu
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: center;
   z-index: 1111 !important;
}
#wb_contactMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_contactMenu li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 25%;
}
#wb_contactMenu a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_contactMenu > ul > li > a
{
   width: 100%;
   box-sizing: border-box;
   height: 22px;
   padding: 0 0px 0px 0px;
   line-height: 22px;
}
#wb_contactMenu li:hover a, #wb_contactMenu a:hover
{
   color: #FFFF00;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_contactMenu li.firstmain
{
   padding-left: 0px;
}
#wb_contactMenu li.lastmain
{
   padding-right: 0px;
}
#wb_contactMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Image2
{
   margin: 50px 50px 0 50px;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 72.97%;
   height: auto;
   max-width: 386px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
